 <h1>Login</h1>
<form action="/login" method="POST">
  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}
  <div>
    <label for="username">Usuário:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <button type="submit">Entrar</button>
  </div>
</form>
<a href="/register">Registrar-se</a>